.background {
	background-image: url(images/backgrund.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.header {
	display: flex;
	width: 1400px;
	height: 20vh;
	background-image: url(images/Mjausing.png);
	background-size: 100% 100%;
	border: solid;
	border-color: pink;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#game-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	border: solid;
	border-color: pink;
}
